.btn {
    border: none;
    background-color: #02897A;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    position: relative;
    z-index: 1;

    &:hover {
        color: $textcolor;
    }

    &::before {
        transition: 0.4s ease all;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 50%;
        left: 50%;
        background-color: #fff;
        border-radius: 4px;
        z-index: -1;
        content: '';
    }

    &:hover::before {
        transition: 0.4s ease all;
        right: 0;
        left: 0;
        border: 1px solid #02897A;
    }

    &:active {
        opacity: 0.5;

    }
}